.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    background-color: #fff;
    color: #000 !important
}

.nav-center {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.nav-links, li a:hover{
color:rgb(0, 123, 255) !important;
}

.nav-right {
    margin-left: auto; 
}

.logout-btn {
    background-color: rgb(215, 12, 12);
    color: #fff;
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: rgb(243, 49, 45);
}
